.vscode/**
.vscode-test/**
out/**
node_modules/**
dist/database/**
dist/explorer/**
dist/test/**
webview/node_modules/**
webview/out/**
webview/src/**
webview/public/**
webview/index.html
webview/tsconfig*.json
webview/vite.config.*
webview/package-lock.json
webview/.prettierrc
webview/.vscode/**
webview/README.md
webview/tsconfig.tsbuildinfo
webview/.eslintrc.json
webview/.gitignore
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
docs/**